apiVersion: v1
kind: Secret
metadata:
  name: pgsql-secret
  namespace: homelab
type: Opaque
stringData:
  POSTGRES_PASSWORD: "<password>"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pgsql-config
  namespace: homelab
data:
  PGDATA: "/var/lib/postgresql/data"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pgsql-data
  namespace: homelab
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgsql
  namespace: homelab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgsql
  template:
    metadata:
      labels:
        app: pgsql
    spec:
      containers:
      - name: pgsql
        image: postgres:latest
        envFrom:
        - configMapRef:
            name: pgsql-config
        - secretRef:
            name: pgsql-secret
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: data
          mountPath: /var/lib/postgresql/data
        resources:
          limits:
            memory: "128Mi"
          requests:
            memory: "128Mi"
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: pgsql-data
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: pgsql
  namespace: homelab
spec:
  type: NodePort
  selector:
    app: pgsql
  ports:
  - name: postgres
    port: 5432
    targetPort: 5432
    nodePort: 30433
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: adminer
  namespace: homelab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adminer
  template:
    metadata:
      labels:
        app: adminer
    spec:
      containers:
      - name: adminer
        image: adminer:latest
        ports:
        - containerPort: 8080
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: adminer
  namespace: homelab
spec:
  type: NodePort
  selector:
    app: adminer
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    nodePort: 30808
