apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-config
  namespace: homelab
data:
  TZ: "Asia/Manila"
  FTLCONF_dns_listeningMode: "all"
---
apiVersion: v1
kind: Secret
metadata:
  name: pihole-secret
  namespace: homelab
type: Opaque
stringData:
  FTLCONF_webserver_api_password: "<password_here>"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pihole-etc-pihole
  namespace: homelab
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pihole-etc-dnsmasq
  namespace: homelab
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pihole
  namespace: homelab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pihole
  template:
    metadata:
      labels:
        app: pihole
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
      - name: pihole
        image: pihole/pihole:latest
        securityContext:
          capabilities:
            add:
            - SYS_NICE
        envFrom:
        - configMapRef:
            name: pihole-config
        - secretRef:
            name: pihole-secret
        volumeMounts:
        - name: etc-pihole
          mountPath: /etc/pihole
        - name: etc-dnsmasq
          mountPath: /etc/dnsmasq.d
      volumes:
      - name: etc-pihole
        persistentVolumeClaim:
          claimName: pihole-etc-pihole
      - name: etc-dnsmasq
        persistentVolumeClaim:
          claimName: pihole-etc-dnsmasq
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: pihole
  namespace: homelab
spec:
  type: NodePort
  selector:
    app: pihole
  ports:
  - name: dns-tcp
    port: 53
    targetPort: 53
    protocol: TCP
    nodePort: 30053
  - name: dns-udp
    port: 53
    targetPort: 53
    protocol: UDP
    nodePort: 30053
  - name: http
    port: 80
    targetPort: 80
    nodePort: 30080
  - name: https
    port: 443
    targetPort: 443
    nodePort: 30443
