apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: portainer-data
  namespace: homelab
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: portainer-ce
  namespace: homelab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portainer-ce
  template:
    metadata:
      labels:
        app: portainer-ce
    spec:
      securityContext:
        runAsUser: 0
      containers:
      - name: portainer-ce
        image: docker.io/portainer/portainer-ce:latest
        securityContext:
          privileged: true
        ports:
        - containerPort: 8000
        - containerPort: 9443
        volumeMounts:
        - name: data
          mountPath: /data
        - name: docker-sock
          mountPath: /var/run/docker.sock
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: portainer-data
      - name: docker-sock
        hostPath:
          path: /var/run/docker.sock
          type: Socket
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: portainer-ce
  namespace: homelab
spec:
  type: NodePort
  selector:
    app: portainer-ce
  ports:
  - name: http
    port: 8000
    targetPort: 8000
    nodePort: 30800
  - name: https
    port: 9443
    targetPort: 9443
    nodePort: 30943
